<div class="text-center">
  <%= will_paginate @coaches %>
</div>

<div class="coaches text-center">
  <% @coaches.each do |coach| %>
    <div class="row callout">
      <%= coach.username %>
    <p>
      <%= coach.first_name %> <%= coach.last_name %>
    </p>
      <%= coach.city %>, <%= coach.state %>
    <p>
      <%= link_to "Send Email", "mailto:#{coach.email}" %>
    </p>
      <button>Send Text</button>
    </div>
  <% end %>
</div>
