<div class="">
  <% @coaches.each do |coach| %>
    <%= coach.username %>
    <%= coach.country %>
    <%= coach.state %>
    <%= coach.city %>
    <%= button_to "Send Email", "mailto:#{coach.email}" %>
    <button>Send Text</button>
  <% end %>
</div>
