<div class="">
  <h3> <%= @user.username %>'s Log</h3>
  <h3><%= link_to "Add new entry", new_user_post_path(@user) %></h3>
</div>

<div class="">
  <% @posts.each do |post| %>
    <div class="">
      <%= link_to post.title, user_post_path(@user, post) %>
      <%= post.date %>
      <%= post.tags %>
      <%= link_to "Edit Post", edit_post_path(post) %>
      <%= link_to "Delete Post", post, method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>
</div>
