<h1>New Log Entry</h1>

<h3><%= link_to 'Add new entry', new_user_post_path(@user) %></h3>

<% @posts.each do |post| %>
  <%= post.title %>
  <%= post.date %>
  <%= post.body %>
  <%= post.tags %>
<% end %>
