<div class="text-center">
  <%= will_paginate @posts %>
</div>

<div class="show-log text-center container" style="width:50%">
  <div class="">
    <h3> <%= @user.username %>'s Log</h3>
    <h3><%= link_to "Add new entry", new_user_post_path(@user) %></h3>
  </div>

  <div class="" >
    <% @posts.each do |post| %>
      <div class="row panel panel-default" style="border:1px solid; padding: 10px; margin-bottom: 10px;">
        <p>
          <%= link_to post.title, post_path(post) %>
          (<%= post.date %>)
        </p>
        <p style="border:1px solid; padding: 10px">
          <%= link_to "Edit Post", edit_post_path(post) %> |
          <%= link_to "Delete Post", post, method: :delete, data: { confirm: "Are you sure?" } %>
        </p>
      </div>
    <% end %>
  </div>
</div>
