<div class="">
  <%= @user.first_name %>
  <%= @user.last_name %>
  <%= @user.username %>
  <%= @user.email %>
  <%= @user.phone %>
  <%= @user.state %>
  <%= @user.city %>
  <%= @user.zip %>
  <% unless @user.admin %>
    <%= button_to "Request Admin Status", request_admin_users_path %>
  <% end %>


  <% if @user.id == current_user.id %>
    <%= link_to("Edit Profile", edit_user_registration_path) %>
  <% end %>
</div>
