<div class="">
  <%= @user.first_name %>
  <%= @user.last_name %>
  <%= @user.username %>
  <%= @user.email %>
  <%= @user.phone %>
  <%= @user.country %>
  <%= @user.state %>
  <%= @user.city %>
  <%= @user.zip %>
  <%= button_to "Request Admin Status", request_admin_users_path %>


  <% if @user.id == current_user.id %>
    <%= link_to("Edit Profile", edit_user_registration_path) %>
  <% end %>
</div>
