<div class="text-center">
  <%= will_paginate @trainees %>
</div>

<div class="input-group" style="margin: auto">
  <%= form_tag trainee_index_users_path, method: 'get', class: 'navbar-form', role: 'search', id: "search-form" do %>
    <span class="input-group-btn">
      <%= submit_tag "Search", name: nil, class: 'btn btn-default' %>
      <%= text_field_tag :search, "", placeholder: "Search trainees", class: 'form-control' %>
    </span>
  <% end %>
</div>

<div class="coaches text-center">
  <% @trainees.each do |trainee| %>
    <div class="row callout">
      <%= trainee.username %><% if trainee.admin %>, SSC<% end %>
      <p>
        <%= trainee.first_name %>, <%= trainee.last_name %>
      </p>
      <%= trainee.city %>, <%= trainee.state %>
      <p>
        <%= link_to "Send Email", "mailto:#{trainee.email}" %>
      </p>
      <button>Send Text</button>
    </div>
  <% end %>
</div>

<%= render "map" %>
