<%= will_paginate @trainees %>

<div class="">
  <% @trainees.each do |trainee| %>
    <div class="row callout">
      <% if trainee.admin %>
        <%= trainee.username + ', SSC' %>
      <% else %>
        <%= trainee.username %>
      <% end %>
    </br >
      <%= trainee.city %>,
      <%= trainee.state %>,
      <%= trainee.country %></br >
      <%= link_to "Send Email", "mailto:#{trainee.email}" %></br >
      <button>Send Text</button>
    </div>
  <% end %>
</div>
