<%= will_paginate @trainees %>

<div class="">
  <% @trainees.each do |trainee| %>
    <div class="row callout">
      <%= trainee.username %>
      <%= trainee.state %>
      <%= trainee.city %>
      <% if trainee.admin %>
        <p>SSC</p>
      <% end %>
      <%= link_to "Send Email", "mailto:#{trainee.email}" %>
      <button>Send Text</button>
    </div>
  <% end %>
</div>
