<div class="text-center">
  <%= will_paginate @trainees %>
</div>

<div class="">
  <% @trainees.each do |trainee| %>
    <div class="row callout">
      <%= trainee.username %><% if trainee.admin %>, SSC<% end %>
      <p>
        <%= trainee.first_name %>, <%= trainee.last_name %>
      </p>
      <%= trainee.city %>, <%= trainee.state %>
      <p>
        <%= link_to "Send Email", "mailto:#{trainee.email}" %>
      </p>
      <button>Send Text</button>
    </div>
  <% end %>
</div>
