<div class="container" style="width:35%">
  <% if current_user == @post.user || current_user.admin %>
    <div class="">
      <%= form_for [@post, @video] do |f| %>
        <div class="form-group row" style="margin:auto">
          <div class="">
            <%= f.label(:title, "Video Title") %></br >
            <%= f.text_field :title, class: "form-control" %>
          </div>

          <div class="">
            <%= f.label(:url, "Youtube Video Url") %> | <i class="fa fa-youtube" aria-hidden="true"></i></br >
            <%= f.text_field :url, class: "form-control" %>
          </div>

          <div class="">
            <%= f.label(:tag_list, "Tags (separated by commas)") %></br >
            <%= f.text_field :tag_list, multiple: true, class: "form-control" %>
          </div>

          <div class="">
            <%= f.submit "Submit Video", class: "form-control" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
