<%= will_paginate @videos %>

<div class="">
  <ol>
    <% @videos.each do |video| %>
      <li class="">
        <%= link_to video.title, post_video_path(video.post, video) %></br >
        <%= content_tag(:iframe, nil, src: "//www.youtube.com/embed/#{video.embed_id}") %>
        <p>
          Created by: <%= video.user.username %>, at: <%= video.created_at.strftime("%e, %b, %Y, %H:%M:%S %p") %>
        </p>
        <% unless video.comments.last.nil? %>
          <div class="">
            <%= video.comments.last.body %>
          </div>
        <% end %>
        <p>
          Tags: <%= raw video.tag_list.map { |t| link_to t, tag_path(t) }.join(", ") %>
        </p>
      <% end %>
    </li>
  </ol>
</div>

<div class="" id="tag_cloud">
  <% tag_cloud Video.tag_counts.sort { |x, y| x.name <=> y.name }, %w[s m l] do |tag, css_class| %>
  <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
