<%= will_paginate @videos %>

<div class="">
  <% @videos.each do |video| %>
    <div class="">
      <%= link_to video.title, video_path(video) %></br >
      <%= content_tag(:iframe, nil, src: "//www.youtube.com/embed/#{video.embed_id}") %>
      <p>Created by: <%= video.user.username %>, at: <%= video.created_at.strftime("%e, %b, %Y, %H:%M:%S %p") %></p>
      <% if current_user.admin %>
        <%= link_to "Delete as SPAM", video_path(@video), method: :delete, data: { confirm: "Are you sure?" } %> |
      <% end %>
      <% unless video.comments.last.nil? %>
        <%= video.comments.last.body %>
      <% end %>
      <p>
        Tags: <%= raw video.tag_list.map { |t| link_to t, tag_path(t) }.join(", ") %>
      </p>
    <% end %>
  </div>
</div>

<div class="" id="tag_cloud">
  <% tag_cloud Video.tag_counts.sort { |x, y| x.name <=> y.name }, %w[s m l] do |tag, css_class| %>
  <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
