<h3>New Log Entry</h3>

<%= form_for [@user, @post] do |f| %>
  <%= f.label(:title, "Title") %>
  <%= f.text_field(:title) %>
  <%= f.label(:date, "Date") %>
  <%= f.date_select :date %>
  <%= f.label(:body, "Body") %>
  <%= f.text_field(:body) %>
  <%= f.label(:tags, "Tags") %>
  <%= f.text_field(:tags) %>
  <%= f.submit("Submit") %>
<% end %>
