<%= @post.title %>
<%= @post.date %>
<%= @post.body %>
<%= @post.tags %>

<% @videos.each do |video| %>
  <div class="">
    <%= video.title %>
    <%= content_tag(:iframe, nil, src: "//www.youtube.com/embed/#{video.embed_id}") %>
  </div>
<% end %>

<%= render "./videos/new" %>

<%= link_to('Back', my_log_users_path) %>
