<div class="">
  <%= @post.title %>
  <%= @post.date %>
  <%= @post.body %>
  <%= @post.tags %>
  <%= link_to "Delete Post", @post, method: :delete %>
</div>

<% @videos.each do |video| %>
  <div class="">
    <%= link_to video.title, post_video_path(@post, video) %>
    <%= link_to "Delete Video", post_video_path(video), method: :delete %>
  </div>
<% end %>

<%= render "./videos/new" %>

<%= link_to('Back', my_log_users_path) %>
