<div class="">
  <%= @post.title %>
  <%= @post.date %>
  <%= @post.body %>
  <%= @post.tags %>
  <%= link_to "Delete Post", @post, method: :delete %>
</div>

<% @videos.each do |video| %>
  <div class="">
    <%= video.title %>
    <%= content_tag(:iframe, nil, src: "//www.youtube.com/embed/#{video.embed_id}") %>
    <%= link_to "Delete Video", post_video_path(video), method: :delete %>
  </div>
<% end %>

<%= render "./videos/new" %>

<%= link_to('Back', my_log_users_path) %>
