<div class="post-show">
  <%= @post.title %>
  <%= @post.date %>
  <%= @post.body %>
  <%= @post.tags %>
  <% if current_user == @post.user %>
    <%= link_to "Edit", edit_post_path(@post) %>
    <%= link_to "Delete Post", @post, method: :delete %>
  <% end %>
</div>

<div class="">
<% @videos.each do |video| %>
  <div class="">
    <%= link_to video.title, post_video_path(@post, video) %>
    <% if current_user == video.user %>
      <%= link_to "Edit", edit_video_path(video) %>
      <%= link_to "Delete Video", post_video_path(@post, video), method: :delete %>
    <% end %>
  </div>
<% end %>
</div>

<%= render "./videos/new" %>
<%= link_to('Back', my_log_users_path) %>
